body{
  background-color: lightpink;
  padding:30px ;
  margin:10px;
  border:6px solid black;
  overflow: scroll;
  width:auto;
  background-size: cover;
}
div{
  font-style: oblique;
  font-family:monospace;
 font-weight: bold;
  color: darkblue;
  required;
}

p{
  font-weight: bolder;
  font-stretch: condensed;
  font-kerning: none;
  color: solid black;
}
#food{
  position: fixed;
  bottom: 0;
  right:0;
  width:100;

}
